﻿@using System.Security.Claims
<div id="hoyry-header" class="mdl-layout__header-row">
    <!--Settings Modal-->
    <div class="header-modal-square">
        @if (User.IsSignedIn())
        {
            var user = User;
            string lol = "";
            <div id="playerProfileCircle"></div>
        }
        else
        {

            <div class="square-container">
                <a asp-controller="Account" asp-action="Login">
                    <i class="fa fa-4x fa-sign-in"></i>
                </a>
            </div>
        }
    </div>
    <!-- Title -->
    <a id="header-title" asp-controller="Home" asp-action="Index" class="mdl-layout-title archive-font"><span>Höyry</span></a>
</div>
<script>
    function LogOff() {
        $('#logoutForm').submit();
    }
</script>
