﻿<div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Höyry</div>
    <ul class="mdl-mini-footer__link-list">
        <li><a href="http://steampowered.com">Powered by Steam</a></li>
    </ul>
</div>