﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - HoyryStats</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/material-design-lite/material.css" />
            <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-light_green.min.css" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
            <link rel="stylesheet" href="~/css/hoyry.css" />
            <script src="~/lib/material-design-lite/material.js"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/background.js"></script>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/hoyry.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/lib/material-design-lite/material.min.css" />
            <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue-light_green.min.css" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <script src="~/lib/material-design-lite/material.js"></script>
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/background.js"></script>
        </environment>
    </head>
<body>
    <canvas id="c"></canvas>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            @Html.Partial("_LayoutHeader")
        </header>
        @Html.Partial("_SideNavigation")
        <main class="mdl-layout__content">
            <div class="main-data-container">
                @RenderBody()
            </div>
        </main>
        <footer id="hoyry-footer" class="mdl-mini-footer">
            @Html.Partial("_LayoutFooter")
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
