﻿<span class="mdl-layout-title archive-font">Höyry</span>
<nav class="mdl-navigation">
    <a asp-controller="SteamPlayers" asp-action="Index" class="mdl-navigation__link">Players</a>
    <a asp-controller="SteamNewsItems" asp-action="Index" class="mdl-navigation__link">News</a>
    <a asp-controller="SteamAchievements" asp-action="Index" class="mdl-navigation__link">Trophies</a>
</nav>