﻿@using System.Security.Claims

<div id="hoyry-sidenav" class="sidenav">
    @if (User.IsSignedIn())
    {
        <div class="sidemenu-item">
            <a asp-controller="SteamPlayers" asp-action="Index">Players</a>
        </div>
        <div class="sidemenu-item">
            <a asp-controller="SteamNewsItems" asp-action="Index">News</a>
        </div>
        <div class="sidemenu-item">
            <a asp-controller="SteamAchievements" asp-action="Index">Achievements</a>
        </div>
    }
    else
    {
        <div id="signin-animation-container" class="animated bounce">
            <i class="fa fa-3x fa-arrow-up"></i>
            <p>Sign in!</p>
        </div>
    }
</div>