﻿@using System.Collections.Generic
@using Microsoft.AspNet.Http
@using Microsoft.AspNet.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Höyry";
    ViewData["Subtitle"] = "Please sign in with your local account.";
}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h2 class="archive-font">Welcome</h2>
        <h4 class="archive-font">@ViewData["SubTitle"]</h4>
    </div>
</div>
<hr/>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

                <div id="login-container">
                    <div class="mdl-list">
                        <div class="mdl-list__item-primary-content login-field-container mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <label asp-for="Email" class="mdl-textfield__label"></label>
                            <div class="">
                                <input asp-for="Email" class="mdl-textfield__input" />
                            </div>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-list__item-primary-content">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <label asp-for="Password" class="mdl-textfield__label"></label>
                                <div class="">
                                    <input asp-for="Password" class="mdl-textfield__input" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="login-form-button" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    <span>Sign in.</span>
                </button>

                <label asp-for="RememberMe" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                    <input asp-for="RememberMe" type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
                    <span class="mdl-checkbox__label">Remember me?</span>
                </label>
                <p>
                    <a asp-action="Register">Register as a new user?</a>
                </p>
                @*<p>
                    <a asp-action="ForgotPassword">Forgot your password?</a>
                </p>*@
            </form>
        </section>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
