﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1 class="archive-font">Rekisteröidy</h1>
    </div>
</div>
<hr />

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset">

        <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <div id="login-container">
                <div class="mdl-list">
                    <div class="mdl-list__item-primary-content mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label asp-for="Email" class="mdl-textfield__label"></label>
                        <input asp-for="Email" class="mdl-textfield__input" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-list__item-primary-content">
                        <label asp-for="Password" class="mdl-textfield__label"></label>
                        <input asp-for="Password" class="mdl-textfield__input" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-list__item-primary-content">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <label asp-for="ConfirmPassword" class="mdl-textfield__label"></label>
                            <input asp-for="ConfirmPassword" class="mdl-textfield__input" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-list__item-primary-content">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Register</button>
                        </div>
                    </div>
                    </div>
                </div>
        </form>

        </div>
    </div>
<hr />
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
