@model HoyryStats.Models.SteamGame

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SteamGame</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gameName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gameName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gameVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.gameVersion)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
