@model HoyryStats.Models.SteamPlayer

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SteamPlayer</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="avatar" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="avatar" class="form-control" />
                <span asp-validation-for="avatar" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="avatarfull" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="avatarfull" class="form-control" />
                <span asp-validation-for="avatarfull" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="avatarmedium" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="avatarmedium" class="form-control" />
                <span asp-validation-for="avatarmedium" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="communityvisibilitystate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="communityvisibilitystate" class="form-control" />
                <span asp-validation-for="communityvisibilitystate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="gameCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="gameCount" class="form-control" />
                <span asp-validation-for="gameCount" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="lastlogoff" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="lastlogoff" class="form-control" />
                <span asp-validation-for="lastlogoff" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="loccityid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="loccityid" class="form-control" />
                <span asp-validation-for="loccityid" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="loccountrycode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="loccountrycode" class="form-control" />
                <span asp-validation-for="loccountrycode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="locstatecode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="locstatecode" class="form-control" />
                <span asp-validation-for="locstatecode" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="personastate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="personastate" class="form-control" />
                <span asp-validation-for="personastate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="personastateflags" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="personastateflags" class="form-control" />
                <span asp-validation-for="personastateflags" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="primaryclanid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="primaryclanid" class="form-control" />
                <span asp-validation-for="primaryclanid" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="profilestate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="profilestate" class="form-control" />
                <span asp-validation-for="profilestate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="profileurl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="profileurl" class="form-control" />
                <span asp-validation-for="profileurl" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="realname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="realname" class="form-control" />
                <span asp-validation-for="realname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="timecreated" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="timecreated" class="form-control" />
                <span asp-validation-for="timecreated" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
