﻿@font-face {
  font-family: Archive;
  src: url(../fonts/Archive.otf);
}
html,
body,
.archive-font {
  font-family: Archive !important;
}
body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;
}
body #login-container label {
  color: white !important;
  font-size: 24px;
}
body #login-form-button {
  margin-bottom: 0.5em;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
main {
  position: relative;
  color: white;
}
main .main-data-container {
  width: 1200px;
  padding-left: 150px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 768px) {
  main .main-data-container {
    width: 768px;
  }
}
header #header-title {
  color: white;
  text-decoration: none;
}
header .header-modal-square {
  position: fixed;
  top: 0;
  left: 0;
  width: 130px;
  height: 75px;
  background-color: #424242;
}
header .header-modal-square #playerProfileCircle {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  position: absolute;
  left: 37px;
  top: 11px;
}
header .header-modal-square .square-container {
  padding: 10px 35px;
  cursor: pointer;
}
#logoutForm i {
  color: #b2ff59;
}
#login-container input {
  padding: 0.75em 0;
  border-radius: 5px;
  margin-top: 0.5em;
}
#newsitems {
  position: relative;
}
#newsitems .newsitem-card {
  background-color: transparent !important;
  height: 600px;
}
#newsitems .newsitem-card .newsitem-media {
  background-color: transparent !important;
  text-align: center;
  height: 33%;
}
#newsitems .newsitem-card .newsitem-media img {
  max-height: 100%;
  max-width: 100%;
}
#newsitems .newsitem-card .newsitem-title {
  color: white;
  height: 7%;
}
#newsitems .newsitem-card .newsitem-supporting-text {
  color: white;
  height: 50%;
  font-size: 1.2em;
  line-height: 1.1;
}
#newsitems .newsitem-card .newsitem-action {
  height: 10%;
}
#hoyry-header {
  height: 75px;
  padding-left: 180px;
}
#hoyry-sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 130px;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 2;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: #2196f3;
  /* Black*/
  overflow: hidden;
  /* Disable horizontal scroll */
  padding-top: 100px;
  /* Place content 100px from the top */
}
#hoyry-sidenav .sidemenu-item {
  padding: 0.5em 1em;
}
#hoyry-footer {
  z-index: 1;
  padding-left: 180px;
}
#signin-animation-container {
  position: absolute;
  top: 80px;
  left: 30px;
  color: #b2ff59;
  text-align: center;
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}