﻿@import "hoyry-variables.less";

html,body,.archive-font{
    font-family:Archive !important;
}

body {
    background: @backgroundUrl;  

    #login-container{

        label{
            color:white !important;
            font-size:@loginFormFontSize;
        }
    }
    #login-form-button{
        margin-bottom:@loginFormButtonMargin;
    }
}
canvas{
    position:fixed;
    top:0;
    left:0;
}
main {

    position:relative;
    color:white;
    .main-data-container{
        @media (max-width: @mobilePixels){
            width:@mobilePixels;
        }
        width:@desktopPixels;
        padding-left:@mainContainerSidePaddingLeft;
        margin-left:auto;
        margin-right:auto;
    }
}
header{
    #header-title{
        color:white;
        text-decoration: none;
    }
    .header-modal-square{
        position:fixed;
        top:0;
        left:0;
        width:@sideMenuWidth;
        height:75px;
        background-color:#424242;
        #playerProfileCircle{
            width: 50px;
            height: 50px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
            background: red;
            position:absolute;
            left:37px;
            top:11px;
        }
        .square-container{
            padding: 10px 35px;
            cursor:pointer;
        }
    }
}

#logoutForm{
    i{
        color:@greenYellow;
    }
}
#login-container{
    input{
        padding:0.75em 0;
        border-radius:5px;
        margin-top:0.5em;
    }
}
#newsitems{

    position:relative;
    .newsitem-card{

        background-color:transparent !important;
        height:600px;
        .newsitem-media{
            background-color:transparent !important;
            text-align:center;
            height:33%;
            img{
                max-height:100%;
                max-width:100%;
            }
        }
        .newsitem-title{
            color:white;
            height:7%;
        }
        .newsitem-supporting-text{
            color:white;
            height:50%;
            font-size:1.2em;
            line-height:1.1;
        }
        .newsitem-action{
            height:10%;
        }
    }
}
#hoyry-header{
    height:75px;
    padding-left:@sideMenuWidth + 50px;
}
#hoyry-sidenav{
    height: 100%; /* 100% Full-height */
    width: @sideMenuWidth; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: @lightBlue; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 100px; /* Place content 100px from the top */
    .sidemenu-item{
        padding: 0.5em 1em;
    }
}
#hoyry-footer{
    z-index: 1;
    padding-left:@sideMenuWidth + 50px;
}
#signin-animation-container{
    position:absolute;
    top:80px;
    left:30px;
    color:@greenYellow;
    text-align:center;
}
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

