﻿@mainPadding: 250px;
@mobilePixels: 768px;
@desktopPixels: 1200px;
@mainContainerSidePaddingLeft: 150px;
@loginFormFontSize: 24px;
@loginFormButtonMargin: 0.5em;
@newsCardMediaSize: 256px;
@lightBlue: #2196f3;
@greenYellow: #b2ff59;
@sideMenuWidth: 130px;
@backgroundUrl: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;
@font-face{
    font-family: Archive;
    src: url(../fonts/Archive.otf);
}