﻿@using HoyryStats.ViewComponents
@model IEnumerable<HoyryStats.Models.SteamNewsItem>

<h2 class="archive-font">Uutiset</h2>
<hr />

<div class="mdl-grid newsitem-max-width">
    @foreach (var item in Model)
    {
        <div class="mdl-cell mdl-card mdl-shadow--4dp newsitem-card">
            <div class="mdl-card__media newsitem-media">
                @{
                    var src = string.IsNullOrEmpty(Html.Value(item.ImageUrl)) ?
                         item.ImageUrl : "~/images/rl-media.png";
                }
                <img src=@src />
            </div>
            <div class="mdl-card__title newsitem-title">
                @Html.DisplayFor(modelItem => item.title)
            </div>
            <div class="mdl-card__supporting-text newsitem-supporting-text">
                @Html.Raw(item.contents)
            </div>
            <div class="mdl-card__actions mdl-card--border newsitem-action">
                <a href="@item.url" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Lue uutinen!
                </a>
            </div>
        </div>
                    }
</div>
