@model HoyryStats.Models.SteamNewsItem

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SteamNewsItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contents)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.feedLabel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.feedLabel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.feedname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.feedname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isExternalUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isExternalUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
