@model HoyryStats.Models.SteamNewsItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>SteamNewsItem</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="author" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="contents" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="contents" class="form-control" />
                <span asp-validation-for="contents" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="feedLabel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="feedLabel" class="form-control" />
                <span asp-validation-for="feedLabel" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="feedname" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="feedname" class="form-control" />
                <span asp-validation-for="feedname" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="isExternalUrl" />
                    <label asp-for="isExternalUrl"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="url" class="form-control" />
                <span asp-validation-for="url" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
